
<template name="addCustomers">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Why not join us?</h3>
        </div>
        <div class="panel-body">

            <label for="inputUsername" class="col-sm-2">Your name:</label>
            <input type="text" name="username" id="inputUsername" class="form-control" value="" required="required" pattern="" title="">

            <label for="inputUseremail" class="col-sm-2">Your email:</label>
            <input type="email" name="useremail" id="inputUseremail" class="form-control" value="" required="required" title="">

            <p>
                <button type="button" class="btn btn-primary" id="btnCountMeIn">Count me in</button>
            </p>

        </div>
    </div>




</template>
